.sidebar > .row > .nopadding > a > .btn {
  font-size: 12px;
}
.randomPost {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 8px; 
  border-bottom: 1px solid white;
}
.container {
  margin-top: 40px;
  margin-bottom: 40px;
}
.nopadding {
  padding: 0;
}
.btn {
  margin: 2px;
  white-space: normal;
  display: block;
  min-height: 120px;
  padding: 10px 5px;
}
.btn, a {
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
}
.btn:hover {
  color: lightgrey;
}
.nocursor {
  cursor: default;
  text-align: left;
}
a {
  text-decoration: none !important;
  color: white !important;
}
a:hover {
  text-decoration: none !important;
  color: lightgrey !important;
}
span {
  display: block;
}
body {
  background: midnightblue url('../img/glass-pattern.png') top right repeat;
  color: white;
}
h3 {
  font-size: 23px;
}
.separator {
  margin: 5px;
  display: block;
  height: 1px;
  background-color: white;
}
.icon-menu {
  font-size: 50px;
}
img, table {
  width: 100%;
}
tr.calendar {
  font-size: 18px;
}
tr.calendar > td > b {
  font-size: 20px;
}
.down10 {
  padding-top: 10px;
}
.alert-transparent {
  background-color: rgba(255,255,255,0.5);
  color: #eee;
  display: block;
  text-align: justify;
}
.alert-notes {
  margin: 0px 15px;
}
.btn-copyright {
  min-height: 0;
  height: 50px;
  vertical-align: middle;
  font-size: 12px;
  line-height: 14px;
}
.search-wrapper {
  min-height: 0;
}
.btn-search {
  min-height: 0;
  margin-top: -1px;
  height: 100%;
  width: 40px;
  display: inline-block;
}
.form-control {
  width: calc(100% - 50px);
  display: inline-block;
  opacity: 0.5;
}
.title {
  font-size: 22px;
  font-weight: 400;
}
.btn-download {
  min-height: 0;
}
.btn-download span {
  display: inline-block;
}
.info {
  font-size: 12px;
}
.pagination {
  margin: 0;
  float: right;
}
.pagination > li > a, .pagination > li > span {
  margin-left: 2px;
  border-color: #3fb618;
  background-color: #3fb618;
  color: white;
}
.pagination > li > a:hover{
  border-color: #2f8912;
  background-color: #2f8912;
  color: white;
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus,
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: #444C38;
  border-color: #444C38;
  color: whitesmoke;
}
.btn-page {
  min-width: 40px;
  min-height: 0;
  display: inline-block !important;
}
.panel-body {
  color: #333;
}